.password-input-wrapper {
  position: relative;
  width: 100%;
}

.password-input-wrapper input {
  padding-right: 50px;
}

.password-toggle {
  position: absolute;

  right: 10px;
  top: 50%;

  transform: translateY(-50%);

  width: 35px;
  height: 35px;

  padding: 0;

  border: none;
  background: transparent;

  cursor: pointer;

  font-size: 18px;
}

.password-toggle:hover {
  background: transparent;
}