.password-input-wrapper {
  position: relative;
  width: 100%;
}

.password-input-wrapper input {
  padding-right: 55px;
}

.password-toggle {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);

  width: 35px;
  height: 35px;

  padding: 0;
  border: none;
  background: transparent;

  cursor: pointer;
  font-size: 19px;
}